.Forms{
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    height: 100px;
    align-items: center;
    color: white;

}
.Members{
    width: 1500px;
    margin: 40px;
    border: 5px dotted black;
}
.Title{
    background-color:burlywood;
    height: 70px;
    font-size: 32px;
    color:white;
    padding-left: 100px;
    display: flex;
    align-items : center;
}

.Updating{
    margin-top: 50px;
    height: 100px;
    margin-left: 40px;
    width: 1500px;
}
.UserDetails{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px; 
}
.UserItems{
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.Buttons{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

button,.Add{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: indianred;
    color: white;
    text-align: center;
    border-width: 0;
    font-size: 20px;
    margin-top: 20px;
}